.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: -80px;
}

body{
  background-color: black;
}

.login_button{
  background-color: #e7e7e7; 
  color: gray;
  font-size: 24px;
  border-radius: 12px;
  padding: 24px 60px;
  margin-left: 670px;
}

.register_button,.train_button,.comp_button,.scores_button,.yourscores_button,.allscores_button,.logout_button{
  background-color: #e7e7e7; 
  color: grey;
  font-size: 24px;
  border-radius: 12px;
  padding: 24px 60px;
  margin:5px;
}


.options_buttons{
  margin-left: 360px;
  margin-top: 350px;
}

.register_button:hover,.login_button:hover,.train_button:hover,.scores_button:hover,.comp_button:hover,.allscores_button:hover,.yourscores_button:hover.logout_button:hover{
  background-color: gray;
  color: white;
}

a{
  color: grey;
}

a:hover{
  color: white;
}

h1{
  color: white;
}

.score_head,.train_head,.comp_head{
  background-color: #e7e7e7; 
  color: grey;
  font-size: 24px;
  border-radius: 12px;
  padding: 24px 24px;
  margin-left: 700px;
  text-align: center;
  width: 300px;
}

.score_nav{
  margin-left: 250px;
}

.train_nav{
  margin-left: 470px;
}

.comp_nav{
  margin-left: 540px;
}


td, th {
  text-align: left;
  padding: 8px;
  background-color: #e7e7e7;

}

